/* Color scheme: http://www.colourlovers.com/palette/49963/let_them_eat_cake */

#content
{
	max-width: 1200px;
}

.project
{
	/*height: auto;*/
	padding: 25px 25px 25px 0px;
	margin: 25px 0px 0px auto;
	overflow: auto;
}

.project:first-child
{
	margin-top: 0px;
}

.project:last-child
{
	margin-bottom: 100px;
}

.pic_container
{
	float: left;
	width: 24%;
	height: 150px;
	padding: 0% 3% 0% 3%;
}

.pic_container  img
{
	width: 100%;
	margin: 0px auto;
}

.project_info
{
	float: left;
	width: 76%;
	padding-left: 3%;
}

p > a
{
	text-decoration: none;
	font-weight: bold;
	color: rgb(48,89,9);
}

a > h2:hover, p > a:hover
{
	text-decoration: underline;
}

@media (max-width: 760px)
{
	.project
	{
		padding-left: 0px;
		padding-right: 0px;
	}

	.pic_container
	{
		float: none;
		width: 100%;
		height: auto;
		border: none;
		margin: 0px auto;
	}

	.project_info
	{
		float: none;
		text-align: center;
		margin: 20px auto 0px auto;
		padding: 0px;
	}
}