/* Color scheme: http://www.colourlovers.com/palette/49963/let_them_eat_cake */

#content
{
	max-width: 1200px;
}

.project
{
	height: 200px;
	padding: 25px 25px 25px 0px;
	margin: 25px 0px 0px auto;
}

.project:first-child
{
	margin-top: 0px;
}

.project:last-child
{
	margin-bottom: 100px;
}

.pic_container
{
	float: left;
	width: 24%;
	height: 150px;
	padding: 0% 3% 0% 3%;
	border-right: 1px solid #666;
}

.pic_container  img
{
	width: 100%;
	margin: 0px auto;
}

.project_info
{
	float: left;
	width: 76%;
	height: 100%;
	border-left: 1px solid #1C140D;
	padding-left: 3%;
}

a > h2:hover
{
	text-decoration: underline;
}